@use "partials/colors" as colors;
@use "partials/typography" as typography; 
@use "vendors/normalize" as normalize;

nav {
  background-color: colors.$darker-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  .logo {
    color: colors.$primary-font-color;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;

    li {
      list-style: none;

      a {
        color: colors.$primary-font-color;
        text-decoration: none;
        position: relative;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: colors.$primary-font-color;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          background-color: colors.$secondary-font-color;
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

.footer {
  background-color: colors.$dark-background;
  color: colors.$primary-font-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px; 
  position: absolute;
  bottom: 0;
  width: 100vw;
  max-width: 100%;
  left: 0;
  font-size: 1rem;
  min-height: 60px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px; 
  padding: 50px;

  .text-section {
    flex: 1;
    text-align: left;

    h1 {
      color: colors.$tertiary-font-color;
      font-family: "Roboto", sans-serif; 
      font-size: 3rem;
      font-weight: bold;
    }

    h2 {
     color: colors.$secondary-font-color;
      font-family: typography.$primary-font;
      font-size: 2.5rem;
      font-weight: bold;
    }
    

    .about-link {
      color: colors.$secondary-font-color;
      text-decoration: none;
      font-weight: bold;
      display: inline-block;
      margin-top: 10px;
      padding: 8px 12px;
      border: 2px solid colors.$secondary-font-color;
      border-radius: 5px;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: colors.$secondary-font-color;
        color: colors.$dark-background;
      }
    }
  }

  .image-section {
    flex: 1;

    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 8px; 
    }
  }
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
    padding: 80px;
  }

  .text-section {
    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 3rem;
    }
  }
}

@media (min-width: 1024px) {
  .content {
    padding: 100px;
  }

  .text-section {
    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 3.5rem;
    }
  }

  .container {
    background-color: navy;
  }
}
